<html>
	<head>
		<title>Prohibido - admin</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
		<link rel="stylesheet" href="/css/admin.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<header>
					<div>
						<img src="img/logo_red_250x250.png" />
					</div>
				</header>
				<div class="u-full-width content">
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
ceci est un test
				</div>
				<div class="row">
					<div class="five columns">
						<input class="button-primary u-full-width" type="submit" value="Copier">
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./js/admin.js" type="text/javascript"></script>
</html>
