<html>
	<head>
		<title>Prohibido</title>
		<meta charset="utf-8"/>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
		<link rel="stylesheet" href="/css/index.css" type="text/css" />
	</head>
	<body>
		<script type="text/javascript">
			var lang = window.navigator.userLanguage || window.navigator.language;
			if (lang == 'fr') {
				window.location.href = '/';
			}
		</script>
		<!--MENU------------->
		<div id="menu">
			<div class="bar bar1"></div>
			<div class="bar bar2"></div>
			<div class="bar bar3"></div>
		</div>
		<div id="arrow-menu" class="common-display"></div>
		<div id="menu2" class="common-display">
			<ul>
				<li><a href="#homepage">HOME</a></li>
				<li><a href="#informations">INFO</a></li>
				<li><a href="#medias">MEDIAS</a></l>
				<li><a href="#carte">CARTE</a></li>
				<li><a href="#team">TEAM</a></li>
				<li class="external-link">
					<a href="">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</a>
					&nbsp
					<a href="">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
		<!--HOMEPAGE-------------->
		<section id="homepage" class="my-full-size"> <!-- u-full-width / container -->
			<video autoplay muted loop poster="img/pix3.png" id="bgvid">
		    <source src="img/video.mp4" type="video/mp4">
			</video>
			<div id="main-logo">
				<img class="main-logo-img red" src="img/logo_red_500x500.png" width="100%" height="100%"/>
				<img class="main-logo-img white" src="img/logo_white_500x500.png" width="100%" height="100%"/>
			</div>
			<div id="main-logo-mobile">
				<div class="row">
					<img class="main-logo-img red" src="img/logo_red_500x500.png" width="100%" height="100%"/>
				</div>
			</div>
			<div class="container my-full-size">
				<div class="row homepage-txt">
					<div class="six columns homepage-colums">
						<h4>
							LOREM IPSUM
						</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam
							in reprehenderit in voluptate velit esse.<br><br>
							Cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
