<html>
	<head>
		<title>Prohibido</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
		<link rel="stylesheet" href="/css/index.css" type="text/css" />
	</head>
	<body>
		<!------------MENU------------->
		<div id="menu">
			<div class="bar bar1"></div>
			<div class="bar bar2"></div>
			<div class="bar bar3"></div>
		</div>
		<div id="arrow-menu" class="common-display"></div>
		<div id="menu2" class="common-display">
			<ul>
				<li><a href="#homepage">HOME</a></li>
				<li><a href="#informations">INFO</a></li>
				<li><a href="#medias">MEDIAS</a></l>
				<li><a href="#carte">CARTE</a></li>
				<li><a href="#team">TEAM</a></li>
				<li class="external-link">
					<a href="">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</a>
					&nbsp
					<a href="">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
		<!-------------HOMEPAGE-------------->
		<section id="homepage" class="my-full-size"> <!-- u-full-width / container -->
			<video width="100%" height="100%" playsinline="true" autoplay="true" muted="true" loop="true" poster="img/pix3.png" id="bgvid">
		    <source src="img/video.mp4" type="video/mp4">
			</video>
			<div id="main-logo">
				<img class="main-logo-img red" src="img/logo_red_500x500.png" width="100%" height="100%"/>
				<img class="main-logo-img white" src="img/logo_white_500x500.png" width="100%" height="100%"/>
			</div>
			<div id="main-logo-mobile">
				<div class="row">
					<img class="main-logo-img red" src="img/logo_red_500x500.png" width="100%" height="100%"/>
				</div>
			</div>
			<div class="container my-full-size">
				<div class="row homepage-txt">
					<div class="six columns homepage-colums">
						<h4>
							LOREM IPSUM
						</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam
							in reprehenderit in voluptate velit esse.<br><br>
							Cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-------------INFO-------------->
		<section id="informations" class="container"> <!-- u-full-width / container -->
			<div class="row">
				<h3 style="white-space:nowrap;">INFORMATIONS</h3>
			</div>
			<div class="row">
				<div class="six columns">
					<h5>INSCRIVEZ VOUS POUR CONNAITRE L'EMPLACEMENT DU PROHIBIDO</h5>
					<p>
						Déjà inscrit ? Utilisez le champ ci-dessous pour recevoir une nouvelle
						fois les informations de localisation du Prohibido.<br><br>
						Dans la mesure où des données personnelles sont prélevées, celles-ci ne sont ni vendues ni transmises à des tiers.
					</p>
					<form id="form-email-registration">
						<input id="email-registration" class="u-full-width" type="email" placeholder="E-mail*"></input>
						<input id="submit-registration" class="button-primary" type="button" value="envoyer"></input>
						<div id="replace-registration" class="replace">
							<div>
								<i class="fa fa-check-circle" aria-hidden="true"></i>
							</div>
							<div>
								Nous venons de vous envoyer les informations du prohibido par mail et elles sont maintenant visible sur notre site.
							</div>
						</div>
					</form>
				</div>
				<div class="six columns">
					<h5>DEMANDE DE RESERVATION OU PRIVATISATION AU PROHIBIDO</h5>
					<form>
						<select class="u-full-width" type="email" placeholder="--*">
							<option value="empty">--*</option>
							<option value="reservation">Réservation</option>
							<option value="privatisation">Privatisation</option>
						</select>
						<div class="row">
							<input class="six columns" type="email" placeholder="E-mail*"></input>
							<input class="six columns" type="tel" placeholder="N° de téléphone*"></input>
						</div>
						<div class="row">
							<input class="six columns" type="text" placeholder="Date - horaire*"></input>
							<input class="six columns" type="text" placeholder="Nombre de personnes*"></input>
						</div>
						<textarea class="u-full-width" placeholder="Votre message..."></textarea>
						<input class="button-primary" type="submit" value="envoyer"></input>
					</form>
				</div>
			</div>
		</section>
		<!-------------MEDIAS-------------->
		<section id="medias">
			<img src="img/arrow.png" class="left-button" width="50px" height="50px"/>
			<img src="img/arrow.png" class="right-button" width="50px" height="50px"/>
			<div class="container-medias">
				<div class="media" style="background: url(img/pix2.jpg); background-size: cover;"></div>
				<div class="media" style="background: url(img/pix1.jpg); background-size: cover;"></div>
				<div class="media" style="background-size: cover;">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/S-m_Y7jtVyM" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="media" style="background: url(img/pix3.png); background-size: cover;"></div>
			</div>
		</section>
		<!--------------CARTE------------->
		<section id="carte" class="container"> <!-- u-full-width / container -->
			<div class="row">
				<h3>LA CARTE PROHIBIDO</h3>
			</div>
			<div class="row">
				<div class="six columns">
					<h5>LOREM IPSUM</h5>
					<ul>
						<!--<li><b>{- title}</b><br>&nbsp&nbsp {detail}</li>-->
						<li><b>- Sit Amet</b><br>&nbsp&nbsp Sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
						<li><b>- Eiusmod</b><br>&nbsp&nbsp Incididunt ut labore et dolor magna...</li>
						<li><b>- Elit Sed</b><br>&nbsp&nbsp Onsectetur adipiscing elit, sed do.</li>
						<li><b>- Adispiscing Elit</b><br>&nbsp&nbsp veniam, quis nostrud exercitation</li>
						<li><b>- Eiusmod tempor</b><br>&nbsp&nbsp Incididunt ut labore et dolor magna...</li>
						<li><b>- Tiscing Olit</b><br>&nbsp&nbsp veniam, quis nostrud exercitation</li>
						<li><b>- Elit Sed</b><br>&nbsp&nbsp Adipiscing elit, sed do.</li>
					</ul>
				</div>
				<div class="six columns">
					<h5>EIUSMOD TEMPOR TRUBU</h5>
					<ul>
						<li><b>- Elit Sed</b><br>&nbsp&nbsp Onsectetur adipiscing elit, sed do Incididunt labore</li>
						<li><b>- Eiusmod tempor</b><br>&nbsp&nbsp Incididunt ut labore et dolor magna...</li>
						<li><b>- Tiscing Olit</b><br>&nbsp&nbsp veniam, quis nostrud exercitation</li>
					</ul>
					<h5>TEMPOR TRODERTUI</h5>
					<ul>
						<li><b>- Eiusmod</b><br>&nbsp&nbsp Incididunt ut labore et dolor magna...</li>
						<li><b>- Sit Amet</b><br>&nbsp&nbsp Sit amet adipiscing elit, sed do eiusmod tempor</li>
						<li><b>- Eiusmod tempor</b><br>&nbsp&nbsp Incididunt ut labore et dolor magna...</li>
						<li><b>- Sit Amet</b><br>&nbsp&nbsp Sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
						<li><b>- Tiscing Olit</b><br>&nbsp&nbsp veniam, quis nostrud exercitation</li>
					</ul>
				</div>
			</div>
		</section>
		<!----------------TEAM--------------->
		<section id="team" style="background: url(img/team.jpg); background-size: cover">
			<div class="row">
				<h3>TEAM</h3>
			</div>
		</section>
		<!---------------FOOTER-------------->
		<section id="footer" style="height: 200px">
			<div style="height: 200px; width: 200px; margin: -90px auto 0 auto;">
				<img src="img/logo_white_500x500.png" width="100%" height="100%"/>
			</div>
		</section>
		<!----------------------------------->
		<script src="./js/index.js" type="text/javascript"></script>
	</body>
</html>
