<html>
	<head>
		<title>Prohibido - login</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
		<link rel="stylesheet" href="/css/login.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<header>
					<div>
						<img src="img/logo_red_250x250.png" />
					</div>
				</header>
				<div class="row">
					<div class="u-full-width">
            <form>
              <input id="user" class="u-full-width" type="text" placeholder="Login" id="exampleEmailInput">
              <input id="code" class="u-full-width" type="password" placeholder="Password" id="exampleEmailInput">
              <input id="submit" class="button-primary u-full-width" type="button" value="envoyer">
            </form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./js/login.js" type="text/javascript"></script>
</html>
