body {
  margin: 0 0;
  padding: 0 0;
}
body header div {
  width: 180px;
  height: 180px;
  margin: auto;
}
body header div img {
  width: 100%;
  height: 100%;
}
body .content {
  padding: 10px;
  margin: 0 0 20px 0;
  background: #eee;
  overflow-y: scroll;
}
body input#logout {
  background: rgba(230, 0, 0, 0.6);
  border: 0;
}
body input#logout:hover {
  background: rgba(230, 0, 0, 0.8);
}
body ul#main-content li {
  margin: 0 0 0 10;
  list-style: none;
}
