body {
  margin: 0 0;
  padding: 0 0;
}
body header div {
  width: 180px;
  height: 180px;
  margin: auto;
}
body header div img {
  padding-top: 30px;
  width: 100%;
  height: 100%;
}
body .row div.u-full-width {
  margin: auto;
  max-width: 360px;
}
body .row div.u-full-width form {
  padding-top: 60px;
}
